/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
html {
  box-sizing: border-box;
}

*, 
*::before,
*::after {
  box-sizing: inherit;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  color: #000;
  font-size: 16px;
  line-height: 1.4;
  font-family: Helvetica, Arial, sans-serif;
  padding: 20px;
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
.container {
  width: 960px;
  margin: auto;
  padding-top: 20px;
}

.results {
  float: left;
  width: 450px;
  padding: 20px;
}

.fruit {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 450px;
  float: left;
}

.fruit li {
  height: 150px;
  width: 150px;
  border: 5px solid transparent;
  background-size: cover;
  float: left;
  cursor: pointer;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, .8);
  padding: 10px;
}

.fruit .active {
  border-color: lime;
}

.apple {
  background-image: url('../images/apple.jpg');
}

.banana {
  background-image: url('../images/banana.jpg');
}

.cherry {
  background-image: url('../images/cherry.jpg');
}

.grape {
  background-image: url('../images/grape.jpg');
}

.orange {
  background-image: url('../images/orange.jpg');
}

.peach {
  background-image: url('../images/peach.jpg');
}

.pear {
  background-image: url('../images/pear.jpg');
}

.pineapple {
  background-image: url('../images/pineapple.jpg');
}

.strawberry {
  background-image: url('../images/strawberry.jpg');
}
